*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Latin Modern Roman 10";
    color: black;
    overflow-x: hidden;
}
body{
    width: 100vw;
    height: 100vh;
}
.titulo{
  background: url(/rs/fondo.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titulo div{
    background: #588F58;
    opacity: 80%;
    border:0.2em solid black ;
    width: 50%;
    padding: 1em;
}
header{
    width: 100%;
    height: 20%;
    background-color: #588F58;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 0.2em black solid;
    border-bottom: 0.2em black solid;
}

header p{
    font-size: 2em;
    margin-bottom: 0.5em;
}
header div{
    width: 100%;
}
header div ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header div ul li{
    list-style: none;

}
header div ul li a{
    text-decoration: none;
    font-size: 1em;
}
main{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
main .contenedor{
    background: url(/rs/contenedor.jpg) no-repeat center;
    background-size: cover;
    width: 90%;
    height: 40%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
   
}
main div{
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
main div div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main div div img{
    width: 30%;
    height: 30%;
    margin-bottom: 0.6em;
}
main div div p{
    font-size: 1em;
    color: black;
}
.venta{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.venta .head-mercado{
    width: 100%;
    height: 20%;
    background-color: #588F58;
    border-top: 0.2em black solid;
    border-bottom: 0.2em black solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.venta .articulos{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.venta .articulos div img{
    width: 240px;
    height: 240px;
    border-radius: 30%;
}
.venta .articulos div p{
    font-size: 1em;
    color: black;
    text-align: center;
}
.consulta{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.consulta .head-mercado{
    width: 100%;
    height: 20%;
    background-color: #588F58;
    border-top: 0.2em black solid;
    border-bottom: 0.2em black solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.consulta .opc {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media only screen and (min-width: 767px) {
    header p{
        font-size: 2.5em;
        margin-bottom: 0.5em;
    }
    header div ul li a{
        text-decoration: none;
        font-size: 1.5em;
    }
    section .articulos div img{
        width: 120px;
        height: 120px;
        border-radius: 30%;
    }
  }
  @media only screen and (max-width: 767px) {
    .titulo{
        background: url(/rs/fondo2.jpg) no-repeat center;
        background-size: cover;
        width: 100%;
        height: 100%;
        text-align: center;
      }
      .titulo div{
          padding: 0;
          width: 60%;
      }
      main div{
        flex-direction: column;
    }
    main div div p{
        font-size: 0.7em;
        margin-bottom: 0.5em;
    }
    main div div img{
        width: 20%;
        height: 20%;
        margin-bottom: 0.6em;
    }
    section{
        align-items: center;
        text-align: center;
    }
    section .articulos{
    flex-direction: column;
    align-items: center;
    }
    section .articulos div img{
        width: 60px;
        height: 60px;
        border-radius: 30%;
    }
  }